# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files
.idea/

# dependencies
node_modules/
build/
dist/
package-lock.json

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*

# typescript
*.tsbuildinfo